 <div class='clear section' id='sidebar'>
                    <div class='widget PopularPosts' data-version='1' id='PopularPosts1'>
                        <div class='latest-title cf'>Popular This Week</div>
                        <div class='widget-content popular-posts'>
                            <div class='cf pop-article clear'>
                                <a class='pop-link cf'
                                   href="https://thehackernews.com/2020/11/sad-dns-new-flaws-re-enable-dns-cache.html">
                                    <div class='side-pop-image'>
                                        <figure class='pop-image'>
                                            <img alt='SAD DNS — New Flaws Re-Enable DNS Cache Poisoning Attacks'
                                                 border='0' class='lazyload'
                                                 data-src='https://thehackernews.com/images/-kOi2_MabP8Q/X64oPf477kI/AAAAAAAABBY/JtiPpflGklsCvdgNEuzY9CYm5ic4UMIwwCLcBGAsYHQ/s72-c-e100/DNS-Cache-Poisoning.jpg'
                                                 height='72'
                                                 src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
                                                 title='SAD DNS — New Flaws Re-Enable DNS Cache Poisoning Attacks'
                                                 width='72'/>
                                        </figure>
                                    </div>
                                    <div class='pop-desc'>
                                        <div class='pop-title'>SAD DNS &#8212; New Flaws Re-Enable DNS Cache Poisoning
                                            Attacks
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='cf pop-article clear'>
                                <a class='pop-link cf'
                                   href="https://thehackernews.com/2020/11/uncovered-apt-hackers-for-hire-target.html">
                                    <div class='side-pop-image'>
                                        <figure class='pop-image'>
                                            <img alt='Uncovered: APT &#39;Hackers For Hire&#39; Target Financial, Entertainment Firms'
                                                 border='0' class='lazyload'
                                                 data-src='https://thehackernews.com/images/-Wvw-BUjWDsU/X60oH--UZ0I/AAAAAAAABBI/q-d_9UHgzKI_uiaOAd54rEgzW9QcCncyQCLcBGAsYHQ/s72-c-e100/hire-hackers.jpg'
                                                 height='72'
                                                 src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
                                                 title='Uncovered: APT &#39;Hackers For Hire&#39; Target Financial, Entertainment Firms'
                                                 width='72'/>
                                        </figure>
                                    </div>
                                    <div class='pop-desc'>
                                        <div class='pop-title'>Uncovered: APT 'Hackers For Hire' Target Financial,
                                            Entertainment Firms
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='cf pop-article clear'>
                                <a class='pop-link cf'
                                   href="https://thehackernews.com/2020/11/two-new-chrome-0-days-under-active.html">
                                    <div class='side-pop-image'>
                                        <figure class='pop-image'>
                                            <img alt='Two New Chrome 0-Days Under Active Attacks – Update Your Browser'
                                                 border='0' class='lazyload'
                                                 data-src='https://thehackernews.com/images/-2IzcUtlUHmU/X6ytoFIP5BI/AAAAAAAABAU/l83-n2BWx48p3Q_Ixo6RYxR3ctgM409-gCLcBGAsYHQ/s72-c-e100/chrome-zero-day-vulnerability.jpg'
                                                 height='72'
                                                 src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
                                                 title='Two New Chrome 0-Days Under Active Attacks – Update Your Browser'
                                                 width='72'/>
                                        </figure>
                                    </div>
                                    <div class='pop-desc'>
                                        <div class='pop-title'>Two New Chrome 0-Days Under Active Attacks &#8211; Update
                                            Your Browser
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='cf pop-article clear'>
                                <a class='pop-link cf'
                                   href="https://thehackernews.com/2020/11/new-modpipe-point-of-sale-pos-malware.html">
                                    <div class='side-pop-image'>
                                        <figure class='pop-image'>
                                            <img alt='New ModPipe Point of Sale (POS) Malware Targeting Restaurants, Hotels'
                                                 border='0' class='lazyload'
                                                 data-src='https://thehackernews.com/images/-iB4A1N5UeBc/X60NU76ECYI/AAAAAAAABAs/YE2QY8sdBv8y-vgyX0lVKs-xMV1ozB6owCLcBGAsYHQ/s72-c-e100/pos-malware.jpg'
                                                 height='72'
                                                 src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
                                                 title='New ModPipe Point of Sale (POS) Malware Targeting Restaurants, Hotels'
                                                 width='72'/>
                                        </figure>
                                    </div>
                                    <div class='pop-desc'>
                                        <div class='pop-title'>New ModPipe Point of Sale (POS) Malware Targeting
                                            Restaurants, Hotels
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='cf pop-article clear'>
                                <a class='pop-link cf'
                                   href="https://thehackernews.com/2020/11/live-webinar-reducing-complexity-by.html">
                                    <div class='side-pop-image'>
                                        <figure class='pop-image'>
                                            <img alt='Live Webinar: Reducing Complexity by Increasing Consolidation for SMEs'
                                                 border='0' class='lazyload'
                                                 data-src='https://thehackernews.com/images/-zw9lt35mhHA/X642VlOUVXI/AAAAAAAAAoE/ERskePTySz0lX1zdxYF3MrZkiReO4NOWgCLcBGAsYHQ/s72-c-e100/cyber-webinar.png'
                                                 height='72'
                                                 src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
                                                 title='Live Webinar: Reducing Complexity by Increasing Consolidation for SMEs'
                                                 width='72'/>
                                        </figure>
                                    </div>
                                    <div class='pop-desc'>
                                        <div class='pop-title'>Live Webinar: Reducing Complexity by Increasing
                                            Consolidation for SMEs
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='cf pop-article clear'>
                                <a class='pop-link cf'
                                   href="https://thehackernews.com/2020/11/missions-next-level-of-interactive.html">
                                    <div class='side-pop-image'>
                                        <figure class='pop-image'>
                                            <img alt='MISSIONS — The Next Level of Interactive Developer Security Training'
                                                 border='0' class='lazyload'
                                                 data-src='https://thehackernews.com/images/-HWs6vOztdlE/X60J5Jj5QzI/AAAAAAAA3Z8/thpalvEUEEMjoheYMyySRbMJM654DetSwCLcBGAsYHQ/s72-c-e100/play.jpg'
                                                 height='72'
                                                 src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
                                                 title='MISSIONS — The Next Level of Interactive Developer Security Training'
                                                 width='72'/>
                                        </figure>
                                    </div>
                                    <div class='pop-desc'>
                                        <div class='pop-title'>MISSIONS &#8212; The Next Level of Interactive Developer
                                            Security Training
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>